@model RSWEB.ViewModels.TeacherDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Teacher</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.Degree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.Degree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.AcademicRank)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.AcademicRank)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.OfficeNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.OfficeNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.teacher.HireDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.teacher.HireDate)
        </dd>
    </dl>
</div>

<h2>Courses:</h2>
<div>
    @foreach(var course in Model.courses)
            {
    <p>
        @Html.DisplayFor(modelItem => course.Title)
    </p>
            }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.teacher?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>