@model RSWEB.ViewModels.EnrollmentFilterViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Enrolled students at "@ViewBag.course" from teacher "@ViewBag.teacher"</h1>

<form asp-controller="Enrollment" asp-action="StudentsEnrolledAtCourse" asp-route-teacher="@ViewBag.teacher">
    <p>
        Year: <select asp-for="year" asp-items="Model.yearsList">
            <option>Select year</option>
        </select>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Course)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].Grade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].SeminalUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ProjectUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ExamPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].SeminalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].ProjectPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].AdditionalPoints)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.enrollments[0].FinishDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.enrollments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Course.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Semester)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @if (@item.SeminalUrl != null)
                    {
                        <a href="~/seminals/@item.SeminalUrl">Open seminal file</a>
                    }
                    else
                    {
                        <span>No file uploaded</span>
                    }
                </td>
                <td>
                    @if (@item.ProjectUrl != null)
                    {
                        <a href="@item.ProjectUrl">Open project link</a>
                    }
                    else
                    {
                        <span>No link uploaded</span>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SeminalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AdditionalPoints)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FinishDate)
                </td>
                <td>
                    @if (item.FinishDate == null)
                    {
                        <a asp-action="EditAsTeacher" asp-route-id="@item.Id" asp-route-teacher="@ViewBag.teacher">Edit</a>
                        <span> |</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>