@model RSWEB.ViewModels.CourseDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Course</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.Credits)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.Credits)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.Semester)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.Semester)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.Programme)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.Programme)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.EducationLevel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.course.EducationLevel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.FirstTeacher)
        </dt>
        <dd class="col-sm-10">
            @if (Model.course.FirstTeacherId != null)
            {
                <a asp-controller="Teacher" asp-action="Details" asp-route-id="@Model.course.FirstTeacherId">
                    @Html.DisplayFor(model => model.course.FirstTeacher.FirstName)
                </a>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.course.SecondTeacher)
        </dt>
        <dd class="col-sm-10">
            @if (Model.course.SecondTeacherId != null)
            {
                <a asp-controller="Teacher" asp-action="Details" asp-route-id="@Model.course.SecondTeacherId">
                    @Html.DisplayFor(model => model.course.SecondTeacher.FirstName)
                </a>
            }
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.course?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
